<script type="text/template" id="product">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-productForm">
    <% if(product.id) {%>
    <input type="hidden" name="id" value="<%= product.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= product.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="price">Price</label>
    	<input type="text" class="form-control" id="price" name="price" placeholder="Enter value" value="<%= product.get('price') %>"/>	
		</div>
    </form>
    </div>
</script> 